<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colours - Components - Pattern Library - Heatpump control</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Core JavaScript inserted in the head -->
    <script src="../js/min/head.min.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <div class="contain-to-grid">
          <nav class="top-bar primary-navigation" data-topbar role="navigation" data-options="is_hover: false">
              <!--Navigation content goes here-->
          </nav>
        </div>
      </header>
      <main>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <!--Main content goes here-->
              <div class="panel">
                <h1>Colours</h1>
                <p>Colour palette for the heat pump control.</p>
              </div>
              <div class="row">
                <!--Nature green-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #7d998a;">HEX: #7d998a</li>
                    <li class="box" style="background-color: #9db2a7;">HEX: #9db2a7</li>
                    <li class="box" style="background-color: #beccc4;">HEX: #beccc4</li>
                    <li class="box" style="background-color: #dee5e1;">HEX: #dee5e1</li>
                  </ul>
                </div>
                <!--Green-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #73705f; color: #fff;">HEX: #73705f</li>
                    <li class="box" style="background-color: #969387;">HEX: #969387</li>
                    <li class="box" style="background-color: #b9b7af;">HEX: #b9b7af</li>
                    <li class="box" style="background-color: #dcdbd7;">HEX: #dcdbd7</li>
                  </ul>
                </div>
                <!--Dark green-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #54554d; color: #fff;">HEX: #54554d</li>
                    <li class="box" style="background-color: #7e7f79;">HEX: #7e7f79</li>
                    <li class="box" style="background-color: #a9aaa6;">HEX: #a9aaa6</li>
                    <li class="box" style="background-color: #d4d4d2;">HEX: #d4d4d2</li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <!--Rose-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #bd7760;">HEX: #bd7760</li>
                    <li class="box" style="background-color: #cd9987;">HEX: #cd9987</li>
                    <li class="box" style="background-color: #debbaf;">HEX: #debbaf</li>
                    <li class="box" style="background-color: #eeddd7;">HEX: #eeddd7</li>
                  </ul>
                </div>
                <!--Beige-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #afa598;">HEX: #afa598</li>
                    <li class="box" style="background-color: #baafa1;">HEX: #baafa1</li>
                    <li class="box" style="background-color: #c4b9aa;">HEX: #c4b9aa</li>
                    <li class="box" style="background-color: #cfc3b3;">HEX: #cfc3b3</li>
                  </ul>
                </div>
                <!--White-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #cdcdcd;">HEX: #cdcdcd</li>
                    <li class="box" style="background-color: #d9d9d9;">HEX: #d9d9d9</li>
                    <li class="box" style="background-color: #e5e5e5;">HEX: #e5e5e5</li>
                    <li class="box" style="background-color: #f2f2f2;">HEX: #f2f2f2</li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <!--Black-->
                <div class="large-4 medium-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #000; color: #ffffff;">HEX: #000000</li>
                    <li class="box" style="background-color: #3f3f3f; color: #ffffff;">HEX: #3f3f3f</li>
                    <li class="box" style="background-color: #7f7f7f;">HEX: #7f7f7f</li>
                    <li class="box" style="background-color: #bfbfbf;">HEX: #bfbfbf</li>
                  </ul>
                </div>
                <!--Blue-->
                <div class="large-4 medium-4 medium-pull-4 columns">
                  <ul class="no-bullet">
                    <li class="box" style="background-color: #007fa9; color: #ffffff;">HEX: #007fa9</li>
                    <li class="box" style="background-color: #3f9fbe;">HEX: #3f9fbe</li>
                    <li class="box" style="background-color: #7fbfd4;">HEX: #7fbfd4</li>
                    <li class="box" style="background-color: #bfdfe9;">HEX: #bfdfe9</li>
                  </ul>
                </div>
            </div>
          </div>
        </article>
      </main>
    </div>
    <footer>
      <!--Footer content goes here-->
    </footer>
    <!--script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script-->
    <!-- Core JavaScript inserted below the footer
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="../js/min/body.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
