<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images - Components - Pattern Library - Heatpump control</title>
    <meta name="description" content="Images for the Heat pump controller.">
    <meta name="author" content="Rosanna Fong">
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Core JavaScript inserted in the head -->
    <script src="../js/min/head.min.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <div class="contain-to-grid">
          <nav class="top-bar primary-navigation" data-topbar role="navigation" data-options="is_hover: false">
              <!--Navigation content goes here-->
          </nav>
        </div>
      </header>
      <main>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <!--Main content goes here-->
              <div class="panel">
                <h1>Images</h1>
                <p>The logo, icons and favicons.</p>
              </div>
              <div class="demo">
                <section>
                  <h2>The logo</h2>
                  <section>
                    <h3>On a light background</h3>
                    <div class="panel callout">
                      <ul class="inline-list">
                        <li><img src="/heat-pump-controller/img/logo-lg.svg" onerror="this.src='/heat-pump-controller/img/logo-lg.png'; this.onerror=null;" alt="Heat pump Controller large logo on a light background."/></li>
                        <li><img src="/heat-pump-controller/img/logo-sm.svg" onerror="this.src='/heat-pump-controller/img/logo-sm.png'; this.onerror=null;" alt="Heat pump Controller small logo on a light background."/></li>
                        <li><img src="/heat-pump-controller/img/logo-xs.svg" onerror="this.src='/heat-pump-controller/img/logo-xs.png'; this.onerror=null;" alt="Heat pump Controller extra small logo on a light background."/></li>
                      </ul>
                    </div>
                  </section>
                  <section>
                    <h3>On a dark background</h3>
                    <div class="box" style="background-color:#3f3f3f;">
                      <ul class="inline-list">
                        <li><img src="/heat-pump-controller/img/logo-light-lg.svg" onerror="this.src='/heat-pump-controller/img/logo-light-lg.png'; this.onerror=null;" alt="Heat pump Controller large logo on a dark background."/></li>
                        <li><img src="/heat-pump-controller/img/logo-light-sm.svg" onerror="this.src='/heat-pump-controller/img/logo-light-sm.png'; this.onerror=null;" alt="Heat pump Controller small logo on a dark background."/></li>
                        <li><img src="/heat-pump-controller/img/logo-xs.svg" onerror="this.src='/heat-pump-controller/img/logo-xs.png'; this.onerror=null;" alt="Heat pump Controller extra small logo on a light background."/></li>
                      </ul>
                    </div>
                  </section>
                </section>
                <section>
                  <h2>Avatars</h2>
                </section>
                <section>
                  <h2>Icons</h2>
                  <p>We are using icons provided by <a href="https://fortawesome.github.io/Font-Awesome/icons/">Font Awesome <span class="sr-only"> This link will take you to an external website.</span><i class="fa fa-external-link"></i></a></p>
                  <ul class="inline-list">
                    <li><i class="fa fa-power-off fa-4x"></i></li>
                    <li><i class="fa fa-leaf fa-4x"></i></li>
                    <li><i class="fa fa-user fa-4x"></i></li>
                    <li><i class="fa fa-sign-in fa-4x"></i></li>
                    <li><i class="fa fa-sign-out fa-4x"></i></li>
                    <li><i class="fa fa-refresh fa-4x"></i></li>
                    <li><i class="fa fa-clock-o fa-4x"></i></li>
                    <li><i class="fa fa-calendar fa-4x"></i></li>
                    <li><i class="fa fa-home fa-4x"></i></li>
                    <li><i class="fa fa-tint fa-4x"></i></li>
                    <li><i class="fa fa-floppy-o fa-4x"></i></li>
                    <li><i class="fa fa-sliders fa-4x"></i></li>
                    <li><i class="fa fa-edit fa-4x"></i></li>
                    <li><i class="fa fa-info-circle fa-4x"></i></li>
                    <li><i class="fa fa-caret-up fa-4x"></i></li>
                    <li><i class="fa fa-caret-down fa-4x"></i></li>
                    <li><i class="fa fa-plus fa-4x"></i></li>
                    <li><i class="fa fa-th fa-4x"></i></li>
                  </ul>
                </section>
                <section>
                  <h2>Favicons</h2>
                  <div class="row">
                    <div class="medium-6 columns">
                      <h3>Light version</h3>
                      <div class="panel callout">
                        <ul class="inline-list">
                          <li><img src="/heat-pump-controller/img/favicon-64x64.svg" onerror="this.src='/heat-pump-controller/img/favicon-64x64'; this.onerror=null;" alt="Favicon 64 x 64 pixels."/></li>
                          <li><img src="/heat-pump-controller/img/favicon-32x32.svg" onerror="this.src='/heat-pump-controller/img/favicon-32x32'; this.onerror=null;" alt="Favicon 32 x 32 pixels."/></li>
                          <li><img src="/heat-pump-controller/img/favicon-16x16.svg" onerror="this.src='/heat-pump-controller/img/favicon-16x16'; this.onerror=null;" alt="Favicon 16 x 16 pixels."/></li>
                        </ul>
                      </div>
                    </div>
                    <div class="medium-6 columns">
                      <h3>Dark version</h3>
                      <div class="panel callout">
                        <ul class="inline-list">
                          <li><img src="/heat-pump-controller/img/favicon-dark-64x64.svg" onerror="this.src='/heat-pump-controller/img/favicon-dark-64x64'; this.onerror=null;" alt="Favicon dark version 64 x 64 pixels."/></li>
                          <li><img src="/heat-pump-controller/img/favicon-dark-32x32.svg" onerror="this.src='/heat-pump-controller/img/favicon-dark-32x32'; this.onerror=null;" alt="Favicon dark version 32 x 32 pixels."/></li>
                          <li><img src="/heat-pump-controller/img/favicon-dark-16x16.svg" onerror="this.src='/heat-pump-controller/img/favicon-dark-16x16'; this.onerror=null;" alt="Favicon dark version 16 x 16 pixels."/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
    <footer>
      <!--Footer content goes here-->
    </footer>
    <!--script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script-->
    <!-- Core JavaScript inserted below the footer
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="../js/min/body.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
