<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists - Components - Pattern Library - Heatpump control</title>
    <meta name="description" content="List styles for the Heat pump controller.">
    <meta name="author" content="Rosanna Fong">
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Core JavaScript inserted in the head -->
    <script src="../js/min/head.min.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <div class="contain-to-grid">
          <nav class="top-bar primary-navigation" data-topbar role="navigation" data-options="is_hover: false">
              <!--Navigation content goes here-->
          </nav>
        </div>
      </header>
      <main>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <!--Main content goes here-->
              <div class="panel">
                <h1>Lists</h1>
                <p>Unordered lists, ordered lists, description lists, and inline lists.</p>
              </div>
              <section>
                <h2>Unordered lists</h2>
                <p>Examples of unordered list <code>&lt;ul&gt;&lt;/ul&gt;</code>
                <div class="row">
                  <div class="medium-6 columns">
                    <h3>Basic list</h3>
                    <ul>
                      <li>Item 1</li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ul>
                  </div>
                  <div class="medium-6 columns">
                    <h3>Nested list</h3>
                    <ul>
                      <li>Item 1
                          <ul>
                            <li>Subitem 1</li>
                            <li>Subitem 2</li>
                          </ul>
                      </li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ul>
                  </div>
                </div>
              </section>
              <section>
                <h2>Ordered lists</h3>
                <p>Examples of ordered list <code>&lt;ol&gt;&lt;/ol&gt;</code>
                <div class="row">
                  <div class="medium-6 columns">
                    <h3>Basic list</h3>
                    <ol>
                      <li>Item 1</li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ol>
                  </div>
                  <div class="medium-6 columns">
                    <h3>Nested list</h3>
                    <ol>
                      <li>Item 1
                          <ol>
                            <li>Subitem 1</li>
                            <li>Subitem 2</li>
                          </ol>
                      </li>
                      <li>Item 2</li>
                      <li>Item 3</li>
                    </ol>
                  </div>
                </div>
              </section>
              <section>
                <h2>Description lists</h2>
                <div class="row">
                  <div class="medium-6 columns">
                    <h3>Basic list</h3>
                    <dl>
                      <dt>Description title</dt>
                      <dd>Some description.</dd>
                    </dl>
                  </div>
                  <div class="medium-6 columns">
                    <h3>Single title, multiple descriptions</h3>
                    <dl>
                      <dt>Description title</dt>
                      <dd>Some description.</dd>
                      <dd>Another description.</dd>
                    </dl>
                  </div>
                </div>
              </section>
              <section>
                <h2>Inline lists</h2>
                <ul class="inline-list">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </section>
            </div>
          </div>
        </article>
      </main>
    </div>
    <footer>
      <!--Footer content goes here-->
    </footer>
    <!--script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script-->
    <!-- Core JavaScript inserted below the footer
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="../js/min/body.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
