<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation - Components - Pattern Library - Heatpump control</title>
    <meta name="description" content="Navigation styles for the Heat pump controller.">
    <meta name="author" content="Rosanna Fong">
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="/heat-pump-controller/img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Core JavaScript inserted in the head -->
    <script src="../js/min/head.min.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <div class="contain-to-grid">
          <nav class="top-bar primary-navigation" data-topbar role="navigation" data-options="is_hover: false">
              <!--Navigation content goes here-->
          </nav>
        </div>
      </header>
      <main>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <!--Main content goes here-->
              <div class="panel">
                <h1>Navigation</h1>
                <p>Top navigation and tabs.</p>
              </div>
              <section>
                <h2>Top navigation</h2>
                <div class="contain-to-grid">
                  <nav class="top-bar demo-top-nav" data-topbar role="navigation" data-options="is_hover: false">
                    <ul class="title-area">
                      <li class="name">
                        <a href="/heat-pump-controller/index.html"><img src="/heat-pump-controller/img/logo-xs.svg" onerror="this.src='/heat-pump-controller/img/logo-xs.png'; this.onerror=null;" alt="Heat pump Controller extra small logo on a light background."/></a>
                      </li>
                      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                      <ul class="right">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                      </ul>
                    </section>
                  </nav>
                </div>
              </section>
              <section>
                <h2>Tabs</h2>
                <ul class="tabs" data-tab role="tablist">
                  <li class="tab-title active" role="presentation"><a href="#panel-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel-1">Tab 1</a></li>
                  <li class="tab-title" role="presentation"><a href="#panel-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-2">Tab 2</a></li>
                  <li class="tab-title" role="presentation"><a href="#panel-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel-3">Tab 3</a></li>
                </ul>
                <div class="tabs-content">
                  <section role="tabpanel" aria-hidden="false" class="content active" id="panel-1">
                    <p>First panel content goes here...</p>
                  </section>
                  <section role="tabpanel" aria-hidden="true" class="content" id="panel-2">
                    <p>Second panel content goes here...</p>
                  </section>
                  <section role="tabpanel" aria-hidden="true" class="content" id="panel-3">
                    <p>Third panel content goes here...</p>
                  </section>
                </div>
              </section>
            </div>
          </div>
        </article>
      </main>
    </div>
    <footer>
      <!--Footer content goes here-->
    </footer>
    <!--script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script-->
    <!-- Core JavaScript inserted below the footer
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="../js/min/body.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
