<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography - Components - Pattern Library - Heatpump control</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link href="../img/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Core JavaScript inserted in the head -->
    <script src="../js/min/head.min.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <div class="contain-to-grid">
          <nav class="top-bar primary-navigation" data-topbar role="navigation" data-options="is_hover: false">
              <!--Navigation content goes here-->
          </nav>
        </div>
      </header>
      <main>
        <article>
          <div class="row">
            <div class="large-12 columns">
              <!--Main content goes here-->
              <div class="panel">
                <h1>Typography</h1>
                <p>Fonts, headers, paragraph text and links.</p>
              </div>
              <section>
                <h2>Fonts</h2>
                <p><code>font-family</code>: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;</p>
                <ul>
                  <li>Example of regular text</li>
                  <li><strong>Example of bold text</strong></li>
                  <li><em>Example of emphasised text</em></li>
              </section>
              <section>
                <h2>Headers</h2>
                <div class="row">
                  <div class="medium-6 columns">
                    <span class="h1">A very large header</span><br/>
                    <span class="h2">A large header</span><br/>
                    <span class="h3">A medium header</span><br/>
                    <span class="h4">A moderate header</span><br/>
                    <span class="h5">A small header</span><br/>
                    <span class="h6">A tiny header</span><br/>
                  </div>
                  <div class="medium-6 columns">
                    <span class="h1">A very large header <small>h1 subtext</small></span><br/>
                    <span class="h2">A large header <small>h2 subtext</small></span><br/>
                    <span class="h3">A medium header <small>h3 subtext</small></span><br/>
                    <span class="h4">A moderate header <small>h4 subtext</small></span><br/>
                    <span class="h5">A small header <small>h5 subtext</small></span><br/>
                    <span class="h6">A tiny header <small>h6 subtext</small></span><br/>
                  </div>
                </div>
              </section>
              <section>
                <h2>Paragraphs</h2>
                <p>Lorem ipsum dolor sit amet, per et iracundia eloquentiam, magna graecis vim cu, sea ei modo solum facilisi. In nec malorum gubergren. Per platonem erroribus no, erat veniam vim an, ne eius graecis deleniti nam. Sed harum scaevola accusamus cu, ea mei minim iriure eleifend, nam prompta alienum percipit ut. Mea erat rebum augue ne, pri case accumsan delicatissimi ea. Ea eos sale intellegebat.</p>
              </section>
              <section>
                <h2>Links</h2>
                <p>This is an example of a <a href="#">link</a>.</p>
              </section>
            </div>
          </div>
        </article>
      </main>
    </div>
    <footer>
      <!--Footer content goes here-->
    </footer>
    <!--script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script-->
    <!-- Core JavaScript inserted below the footer
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="../js/min/body.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
