<ul class="title-area">
  <li class="name">
    <a href="/heat-pump-controller/index.html"><img src=/heat-pump-controller/img/logo-light-sm.svg" onerror="this.src='/heat-pump-controller/img/logo-light-sm.png'; this.onerror=null;" alt="Heat pump Controller logo"/></a>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
<section class="top-bar-section">
  <ul class="left">
    <li class="has-dropdown">
      <a href="#">Components <i class="fa fa-caret-down"></i></a>
      <ul class="dropdown">
        <li><a href="/heat-pump-controller/components/colours.html">Colours</a></li>
        <li><a href="/heat-pump-controller/components/typography.html">Typography</a></li>
        <li><a href="/heat-pump-controller/components/lists.html">Lists</a></li>
        <li><a href="/heat-pump-controller/components/images.html">Images</a></li>
        <li><a href="/heat-pump-controller/components/buttons.html">Buttons</a></li>
        <li><a href="/heat-pump-controller/components/form-components.html">Form components</a></li>
        <li><a href="/heat-pump-controller/components/interactive-components.html">Interactive components</a></li>
        <li><a href="/heat-pump-controller/components/navigation.html">Navigation</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#">Features <i class="fa fa-caret-down"></i></a>
      <ul class="dropdown">
        <li><a href="/heat-pump-controller/features/user-login.html">User login</a></li>
        <li><a href="/heat-pump-controller/features/heat-pump-controls.html">Heat pump controls</a></li>
        <li><a href="/heat-pump-controller/features/settings.html">Settings</a></li>
        <li><a href="/heat-pump-controller/features/support.html">Support</a></li>
      </ul>
    </li>
  </ul>
  <ul class="right">
    <li><a href="/heat-pump-controller/demo.html">Demo</a></li>
  </ul>
</section>