<ul class="title-area">
  <li class="name">
    <a href="/index.html"><img src="/img/logo-light-small.svg" alt="Heatpump Controller logo"/></a>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
<section class="top-bar-section">
  <ul class="left">
    <li class="has-dropdown">
      <a href="#">Components <i class="fa fa-caret-down"></i></a>
      <ul class="dropdown">
        <li><a href="/components/colours.html">Colours</a></li>
        <li><a href="/components/typography.html">Typography</a></li>
        <li><a href="/components/lists.html">Lists</a></li>
        <li><a href="/components/images.html">Images</a></li>
        <li><a href="/components/buttons.html">Buttons</a></li>
        <li><a href="/components/form-components.html">Form components</a></li>
        <li><a href="/components/interactive-components.html">Interactive components</a></li>
        <li><a href="/components/navigation.html">Navigation</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#">Features <i class="fa fa-caret-down"></i></a>
      <ul class="dropdown">
        <li><a href="/features/user-login.html">User login</a></li>
        <li><a href="/features/heat-pump-controls.html">Heat pump controls</a></li>
        <li><a href="/features/settings.html">Settings</a></li>
        <li><a href="/features/support.html">Support</a></li>
      </ul>
    </li>
  </ul>
  <ul class="right">
    <li><a href="/demo.html">Demo</a></li>
  </ul>
</section>